.freespace-popup-subtitle-menu-item {
    color: inherit;
}

.freespace-mountpoint-popup-menu-item {
    font-weight: bold;
    color: inherit;
}

.freespace-freeinfo-popup-menu-item {
    color: inherit;
}
